In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('1_Intership_data.csv')

In [3]:
df.head()

   ID  Name    Age Department Joining_Date  marks       city      Phone_No
0   1  karan  30.0  CSE AL&ML   26-02-2024   95.0    Kolkata  7.654544e+09
1   2  arjun  52.0  CSE AL&ML   25-01-2025   78.0    dhanbad  1.234568e+09
2   3   ansh  23.0        EEC   10-05-2020   96.0     harna   1.023655e+09
3   4    NaN  20.0        MEC          NaN   63.0  jharkhand  3.569852e+06
4   5    raj  21.0        NaN   20-10-2019   20.0     chenni  7.894561e+09

In [4]:
# Check missing values
print(df.isnull().sum())

ID              0
Name            3
Age             6
Department      4
Joining_Date    3
marks           3
city            8
Phone_No        6
dtype: int64

In [5]:
# Age aur marks ko average (mean)se bharna
df['Age']= df['Age'].fillna(df['Age'].mean())
df['marks']= df['marks'].fillna(df['marks'].mean())

In [6]:
df

,ID,Name,Age,Department,Joining_Date,marks,city,Phone_No
0,1,karan,30.000000,CSE AL&ML,26-02-2024,95.000000,Kolkata,7.654544e+09
1,2,arjun,52.000000,CSE AL&ML,25-01-2025,78.000000,dhanbad,1.234568e+09
2,3,ansh,23.000000,EEC,10-05-2020,96.000000,harna,1.023655e+09
3,4,NaN,20.000000,MEC,NaN,63.000000,jharkhand,3.569852e+06
4,5,raj,21.000000,NaN,20-10-2019,20.000000,chenni,7.894561e+09
5,6,ramesh,32.970588,AUTO MOBILE,20-11-2018,45.000000,dumra,3.214561e+09
6,7,josh,30.000000,CE,21-11-2018,20.000000,delhi,6.230146e+09
7,8,harsh,25.000000,IT,22-11-2018,30.000000,gumla,6.023146e+09
8,9,pinki,3.000000,NaN,23-11-2018,56.054054,NaN,6.230148e+09
9,10,manish,10.000000,PYTHON,24-11-2018,20.000000,NaN,6.203490e+09
10,11,rajesh,20.000000,EEC,25-11-2018,35.000000,kelra,6.230148e+09
11,12,rahul,30.000000,EEE,26-11-2018,36.000000,barsat,NaN
12,13,sonali,12.000000,CSE,27-11-2018,52.000000,dum-dum,9.235601e+09
13,14,rupali,23.000000,CSE IT,28-11-2018,85.000000,kalyni,NaN
14,15,raj,63.000000,COMPUTER,29-11-2018,23.000000,agpara,4.523699e+09
15,16,suman,32.970588,NaN,30-11-2018,56.054054,new delhi,4.523620e+08
16,17,NaN,52.000000,CIVILE,01-12-2018,98.000000,heyrbad,2.563021e+09
17,18,prishunhu,32.000000,MEC,02-12-2018,56.000000,kolkatacity,2.365412e+09
18,19,ram parsad,21.000000,MEX,NaN,78.000000,NaN,7.542370e+09
19,20,dayal,32.000000,CSE,04-12-2018,85.000000,NaN,1.203655e+09
20,21,punam,54.000000,MEC,05-12-2018,78.000000,NaN,NaN
21,22,dav kumar,65.000000,BSC,06-12-2018,56.054054,NaN,2.301565e+09
22,23,neha,27.000000,BBA,07-12-2018,85.000000,harna,NaN
23,24,pramila,37.000000,B.COM,08-12-2018,65.000000,mumbai,2.320655e+09
24,25,kamlesh,28.000000,M.COM,09-12-2018,52.000000,bengaluru,7.852370e+09
25,26,priyanshu,29.000000,B-TECH,10-12-2018,32.000000,hyderabad,7.741237e+09
26,27,karan,32.970588,ECE,11-12-2018,78.000000,ahmedabad,NaN
27,28,binod,23.000000,AI,12-12-2018,95.000000,surat,1.236986e+08
28,29,kumar,26.000000,ML,13-12-2018,68.000000,pune,5.423612e+09
29,30,TCS,32.970588,EE,14-12-2018,85.000000,NaN,NaN
30,31,raj kumar,45.000000,NaN,15-12-2018,96.000000,NaN,4.785699e+09
31,32,thakur ji,54.000000,DS,16-12-2018,74.000000,jaipur,4.521779e+09
32,33,sumnom,32.970588,DSA,17-12-2018,41.000000,lucknow,7.788994e+09
33,34,hjsgy,36.000000,CA,18-12-2018,52.000000,kanpur,2.233666e+09
34,35,raj kumar arjun,63.000000,BE,19-12-2018,63.000000,nagpur,6.622203e+09
35,36,NaN,70.000000,IT,20-12-2018,20.000000,indore,6.203146e+09
36,37,jay parkash,32.970588,CSE,21-12-2018,10.000000,patna,6.231026e+10
37,38,khusi kumari,23.000000,CCE,22-12-2018,30.000000,bhopal,6.230146e+09
38,39,hajra,12.000000,CS,23-12-2018,12.000000,agra,1.230565e+09
39,40,prabat,30.000000,BAA,NaN,23.000000,rajkot,1.234568e+08

In [7]:
#1. columns ko strip kiye
df.columns = df.columns.str.strip()

# 2. Ab saari missing values
df['Name'] = df['Name'].fillna('Unknown Student')
df['Department'] = df['Department'].fillna('General')
df['city'] = df['city'].fillna('Not Disclosed')
df['Joining_Date'] = df['Joining_Date'].fillna('01-01-2025')
df['Phone_No'] = df['Phone_No'].fillna('0')

# 3. Numeric values (Age aur Marks) ko average.
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['marks'] = df['marks'].fillna(df['marks'].mean())

# 4. Final Cleaned file save
df.to_csv('Cleaned_Data_Final.csv', index=False)

In [8]:
# Text ko uppercase main convert karna 
df['Department'] = df['Department'].str.upper()
df['city'] = df['city'].str.upper()

In [9]:
# Duplicate rows delete karna
df = df.drop_duplicates()

In [10]:
df

,ID,Name,Age,Department,Joining_Date,marks,city,Phone_No
0,1,karan,30.000000,CSE AL&ML,26-02-2024,95.000000,KOLKATA,7654543989.0
1,2,arjun,52.000000,CSE AL&ML,25-01-2025,78.000000,DHANBAD,1234567891.0
2,3,ansh,23.000000,EEC,10-05-2020,96.000000,HARNA,1023654789.0
3,4,Unknown Student,20.000000,MEC,01-01-2025,63.000000,JHARKHAND,3569852.0
4,5,raj,21.000000,GENERAL,20-10-2019,20.000000,CHENNI,7894561230.0
5,6,ramesh,32.970588,AUTO MOBILE,20-11-2018,45.000000,DUMRA,3214560987.0
6,7,josh,30.000000,CE,21-11-2018,20.000000,DELHI,6230145987.0
7,8,harsh,25.000000,IT,22-11-2018,30.000000,GUMLA,6023145698.0
8,9,pinki,3.000000,GENERAL,23-11-2018,56.054054,NOT DISCLOSED,6230147851.0
9,10,manish,10.000000,PYTHON,24-11-2018,20.000000,NOT DISCLOSED,6203489752.0
10,11,rajesh,20.000000,EEC,25-11-2018,35.000000,KELRA,6230147895.0
11,12,rahul,30.000000,EEE,26-11-2018,36.000000,BARSAT,0
12,13,sonali,12.000000,CSE,27-11-2018,52.000000,DUM-DUM,9235601489.0
13,14,rupali,23.000000,CSE IT,28-11-2018,85.000000,KALYNI,0
14,15,raj,63.000000,COMPUTER,29-11-2018,23.000000,AGPARA,4523698752.0
15,16,suman,32.970588,GENERAL,30-11-2018,56.054054,NEW DELHI,452361987.0
16,17,Unknown Student,52.000000,CIVILE,01-12-2018,98.000000,HEYRBAD,2563021362.0
17,18,prishunhu,32.000000,MEC,02-12-2018,56.000000,KOLKATACITY,2365412398.0
18,19,ram parsad,21.000000,MEX,01-01-2025,78.000000,NOT DISCLOSED,7542369852.0
19,20,dayal,32.000000,CSE,04-12-2018,85.000000,NOT DISCLOSED,1203654789.0
20,21,punam,54.000000,MEC,05-12-2018,78.000000,NOT DISCLOSED,0
21,22,dav kumar,65.000000,BSC,06-12-2018,56.054054,NOT DISCLOSED,2301564789.0
22,23,neha,27.000000,BBA,07-12-2018,85.000000,HARNA,0
23,24,pramila,37.000000,B.COM,08-12-2018,65.000000,MUMBAI,2320654789.0
24,25,kamlesh,28.000000,M.COM,09-12-2018,52.000000,BENGALURU,7852369741.0
25,26,priyanshu,29.000000,B-TECH,10-12-2018,32.000000,HYDERABAD,7741236985.0
26,27,karan,32.970588,ECE,11-12-2018,78.000000,AHMEDABAD,0
27,28,binod,23.000000,AI,12-12-2018,95.000000,SURAT,123698574.0
28,29,kumar,26.000000,ML,13-12-2018,68.000000,PUNE,5423612398.0
29,30,TCS,32.970588,EE,14-12-2018,85.000000,NOT DISCLOSED,0
30,31,raj kumar,45.000000,GENERAL,15-12-2018,96.000000,NOT DISCLOSED,4785698521.0
31,32,thakur ji,54.000000,DS,16-12-2018,74.000000,JAIPUR,4521778996.0
32,33,sumnom,32.970588,DSA,17-12-2018,41.000000,LUCKNOW,7788994455.0
33,34,hjsgy,36.000000,CA,18-12-2018,52.000000,KANPUR,2233665544.0
34,35,raj kumar arjun,63.000000,BE,19-12-2018,63.000000,NAGPUR,6622203289.0
35,36,Unknown Student,70.000000,IT,20-12-2018,20.000000,INDORE,6203145698.0
36,37,jay parkash,32.970588,CSE,21-12-2018,10.000000,PATNA,62310256489.0
37,38,khusi kumari,23.000000,CCE,22-12-2018,30.000000,BHOPAL,6230145698.0
38,39,hajra,12.000000,CS,23-12-2018,12.000000,AGRA,1230564789.0
39,40,prabat,30.000000,BAA,01-01-2025,23.000000,RAJKOT,123456789.0

In [11]:
df.isnull().sum()

ID              0
Name            0
Age             0
Department      0
Joining_Date    0
marks           0
city            0
Phone_No        0
dtype: int64

In [12]:
df.head()

,ID,Name,Age,Department,Joining_Date,marks,city,Phone_No
0,1,karan,30.0,CSE AL&ML,26-02-2024,95.0,KOLKATA,7654543989.0
1,2,arjun,52.0,CSE AL&ML,25-01-2025,78.0,DHANBAD,1234567891.0
2,3,ansh,23.0,EEC,10-05-2020,96.0,HARNA,1023654789.0
3,4,Unknown Student,20.0,MEC,01-01-2025,63.0,JHARKHAND,3569852.0
4,5,raj,21.0,GENERAL,20-10-2019,20.0,CHENNI,7894561230.0